*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(207, 203, 197);
}
/* 
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items:center ;
} */

header{
    height: 60px;
    background-color: aquamarine;
     display: flex;
    flex-direction: column;
    justify-content: center;
align-items:center ;
}


header h5{
    font-weight: 600;
    color: rgb(50, 53, 53);
}